* {
  margin: 0;
  padding: 0;
}
body {
  padding-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
i {
  color: rgb(4, 134, 185);
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover {
  background-color: rgba(97, 208, 249, 0.841);
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  padding: 2px;
  /* text-decoration: underline; */
}
a:active {
  background-color: black;
  font-style: italic;
}

.avatar {
  position: absolute;
  height: 130px;
  border: 5px solid whitesmoke;
  border-radius: 100%;
  top: -100px;
  left: -65px;
}

#target {
  background-color: rgb(244, 242, 242);
}
#personal-info {
  background-color: rgb(221, 221, 221);
}

.before::before {
  display: list-item;
  content: "";
  height: 10px;
  width: 10px;
  color: rgb(4, 134, 185);
  border-radius: 100%;
  position: absolute;
  left: 18px;
}

.section-content span {
  background-color: rgb(4, 134, 185);
  width: 45px;
  height: 3px;
  display: inline-block;
  margin-right: 10px;
}
.icon {
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(4, 134, 185);
  border-radius: 100%;
}

#certificates {
  background-color: rgb(208, 212, 212);
}
.detail {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#footer {
  background-color: rgb(230, 230, 229);
}

.hidden {
  display: none;
}
.job-view {
  color: white;
  max-width: 150px;
}
.job-view:hover {
  background-color: rgb(247, 247, 181);
  color: black;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 992px) {
  .icon {
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 1px solid rgb(4, 134, 185);
    border-radius: 100%;
  }
  .hobby i {
    font-size: 15px;
  }
  .section-content span {
    background-color: rgb(4, 134, 185);
    width: 35px;
    height: 3px;
    display: inline-block;
    margin-right: 8px;
  }
  .project-content {
    height: 520px;
  }
}
@media (min-width: 992px) {
  .project-content {
    height: 430px;
  }
}
@media (min-width: 1200px) {
  .project-content {
    height: 380px;
  }
}
